[submodule "tof/extern/tof-control"]
	path = tof/extern/tof-control
	url = https://github.com/GAPS-Collab/tof-control.git
[submodule "resources/extern/cxxopts"]
	path = resources/extern/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "resources/extern/doxygen-awesome-css"]
	path = resources/extern/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
