# specific rye and jupyter notebook artefacts
*.python-version

analysis/merge_tcfc/.gitignore
analysis/merge_tcfc/.python-version
analysis/mergew_tcfc/src/

analysis/run_vetting/plots*
analysis/run_vetting/src/*

analysis/notebooks/.gitignore
analysis/notebooks/.ipynb_checkpoints/
analysis/notebooks/.python-version
analysis/notebooks/README.md
analysis/notebooks/achim_notebooks/.ipynb_checkpoints/*

gaps-db/gaps_db/.gitignore
gaps-db/gaps_db/.python-version
gaps-db/gaps_db/README.md
gaps-db/gaps_db/pyproject.toml
gaps-db/gaps_db/src/
gaps-db/resources/scripts/.gitignore
gaps-db/resources/scripts/.python-version
gaps-db/resources/scripts/README.md
gaps-db/resources/scripts/src/
analysis/run_vetting/.ipynb_checkpoints/
analysis/run_vetting/.python-version
python/gaps-online/gaps_online/__pycache__/
python/gaps-online/gaps_online/db/__pycache__/
python/doc/_autosummary/
.ipynb_checkpoints/*

*__pycache__/*

# build artifacts
tof/liftof/build/*
*.so

# other files which might be in the repository
data/*
dataclasses/*

# CMAKE 
CMakeCache.txt
CMakeFiles/*
Docyfile
Makefile

# project files
.idea/*

# any kind of lock files
*.lock

# Poetry lock files
*oetry.lock

# lingering data files
*.bin

# Cargo lock files
Cargo.lock
tof/dataclasses/rust/tof-dataclasses/Cargo.lock
tof/dataclasses/rust/pybindings/target/*
tof/dataclasses/rust/pybindings/Cargo.lock
tof/dataclasses/rust/pybindings/rust_dataclasses.so
tof/liftof/Cargo.lock
tof/liftof/liftof-tui/Cargo.lock
tof/liftof/liftof-cc/Cargo.lock
tof/liftof/liftof-rb/Cargo.lock
tof/liftof/liftof-python/Cargo.lock

# pycache
gaps-db/gaps_db/gaps_db/__pycache__/
gaps-db/gaps_db/tof_db/__pycache__/
tof/tof-calibration/python_calibration_scripts/tofpy/__pycache__/*
python/gaps-online/gaps_online/tof/__pycache__/*

# build products
tof/dataclasses/C++/include/TOFCommon.h
tof/dataclasses/rust/tof-dataclasses/target/*
tof/liftof/target/*
tof/dataclasses/test/target/*
tof/dataclasses/rust/tof_dataclasses/target/*
tof/liftof/liftof-rb/target/*
tof/liftof/liftof-cc/target/*
tof/liftof/liftof-tui/target/*
tof/liftof/liftof-lib/target/*
caraspace/target/*
build/*
telemetry/dataclasses/rust/telemetry-dataclasses/target/*
python/pybindings/target/*
# automatically generated file during a test
tof/liftof/liftof-lib/liftof-config-test.toml
tof/liftof/releases/*

 
# vim fragments
*.swp
*.swo

# django created files
gaps-db/gaps_db/tof_db/migrations/*

# files created by google protocol buffers
dataclasses/*pb.h
dataclasses/*pb.cc
dataclasses/*pb2.py

# ignore all plots generated by 
# whatever script
*.png

# doc stuff
doc/html
doc/latex

# ingore automatically generated files
# for static websites
analysis/umbrella-checkout/content/*.md

