[Unit]
Description=Liftof GAPS RB software
After=network.target
After=rb-wd.service
After=rat-init.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
StandardOutput=append:/home/gaps/log/liftof.log
StandardError=append:/home/gaps/log/liftof.err
SyslogIdentifier=gaps
User=gaps
WorkingDirectory=/home/gaps/bin
ExecStart=/home/gaps/bin/liftof-rb-0.9.2 -r /home/gaps/config/liftof-rb-config-0.9.1.json run start

[Install]
WantedBy=multi-user.target
